name: hebrewcalendar
description: "Hebrew Calendar with biblical feast days, sabbaths, and moon phases."
publish_to: 'none'
version: 1.1.0+2

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  flutter_riverpod: ^2.6.1
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/calendar_data.json
